@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, img, ul, li{
	border:0px;
	margin: 0px;
	padding: 0;
	outline: none;
	text-decoration: none !important;
	list-style: none;
}
.header-home{
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.header-default{
  padding: 20px 0;
  width: 100%;
  background: #000;
}
.navigation {
  padding-top: 17px;
  text-align: right;
}
.navigation nav.navbar-default li {
  margin: 0 15px;
}
.navigation nav.navbar-default li:last-child {
  margin-right: 0;
}
.navigation nav.navbar-default .nav.navbar-nav li.active a {
	background: inherit;
}
.navigation nav.navbar-default .nav.navbar-nav li a {
  color: #fff;
  padding: 0;
}
.navigation nav.navbar-default {
  background: inherit;
  border: 0 none;
  display: inline-block;
  float: none;
  margin: 0;
  min-height: inherit;
}
.signup_main {
  float: right;
}
.navigation nav.navbar-default .nav.navbar-nav li a {
  color: #fff;
  transition: .5s all ease;
}
.navigation nav.navbar-default .nav.navbar-nav li a:hover {
  color: #e88504;
}
/********************************************* mega menu ************************************/
.navigation nav.navbar-default .nav.navbar-nav li.dropdown > a {
  padding-bottom: 16px;
}
.navigation nav.navbar-default .nav.navbar-nav li.dropdown > a:hover {
background:inherit;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu {
  border-radius: 10px;
  box-shadow: -11px 10px 2px 0 rgba(53, 55, 56, 0.4);
  left: -30px;
  padding: 10px !important;
  top: 34px;
}

.navigation .navbar-nav > li.dropdown > .dropdown-menu::after {
  border-bottom: 15px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  left: 50px;
  position: absolute;
  top: -13px;
  width: 0;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li {
  margin: 0;
  padding: 0;
  width: 50%;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li:nth-child(2n-1) a {
  border-right: 2px solid #ccc;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li:nth-child(1) a, .navigation .navbar-nav > li.dropdown > .dropdown-menu li:nth-child(2) a {
  border-top: 0;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li a {
  border-top: 2px solid #ccc;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li a {
  box-sizing: border-box;
  display: inline-block;
  padding: 25px 11px;
  white-space: inherit;
  width: 100%;
  transition:.5s all ease;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li a:hover {
  background: inherit;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li a i {
  background: #595959 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  float: left;
  font-size: 43px;
  height: 70px;
  margin-right: 17px;
  padding: 12px 0;
  text-align: center;
  width: 70px;
}
.navigation .navbar-nav > li.dropdown > .dropdown-menu li a:hover i {
  background: #e88504 none repeat scroll 0 0;
}
.mega_icon h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 22px 0 0;
}

/********************************************* mega menu ************************************/
.main-content{
  padding: 10% 0 0;
}
.banner{
	min-height: 700px;
	background: url(../images/banner_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 10% 0 0;
}
.banner-text{
	color: #fff;
}
.banner-text h1 {
  font-family: "nexa_slab_bold_freeregular";
  font-size: 55px;
  margin-top: 100px;
}
.banner-text p {
  font-size: 18px;
  margin: 10px 0 25px;
  max-width: 85%;
}
.banner-sign a {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 12px 50px;
  transition: .5s all ease;
  -webkit-transition: .5s all ease;
}
.signup_main li {
  display: inline-block;
  margin: 0 18px;
}
.signup_main li a{
	color: #fff;
}
.sign_btn a {
  background: #e88504 none repeat scroll 0 0;
  border-radius: 6px;
  padding: 6px 15px;
}
.signup_main li:last-child {
  margin-right: 0;
}
.banner-sign a.sign, .banner-sign a.try:hover {
  background: #000 none repeat scroll 0 0;
  border-color: #000;
}
.banner-sign a.sign:hover {
  background: transparent;
  border-color: #fff;
}
.banner_img img{
	width: 100%;
}

.start {
  padding: 60px 0 40px;
  text-align: center;
}
 h1.head-main {
  color: #e88504;
  font-size: 48px;
  font-family: 'nexa_slab_regular_freeregular';
}
h1.head-main span{
  color: #222626;
  font-family: 'nexa_slab_regular_freeregular';
}
.start p {
  color: #959595;
  font-size: 14px;
  margin: 15px 0;
}
.start_img img {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 0.5s ease 0s;
}
.start_img {
  height: 125px;
}
.img-dtl-hover {
  opacity: 0;
}
.start_section:hover .img-dtl {
  opacity: 0;
}
.start_section:hover .img-dtl-hover {
  opacity: 1;
}
.srart_detail a {
  color: #e88504;
  display: block;
  font-family: "nexa_slab_bold_freeregular";
  font-size: 28px;
  line-height: 30px;
  margin: 15px 0;
  min-height: 62px;
}
.srart_detail a span{
	font-family: 'nexa_slab_bold_freeregular';
	color: #000;
}
.srart_detail h4 {
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
}
.categry1{
	background: url(../images/start1_bg.png); 
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 40px;
}
.categry2{
	background: url(../images/start2_bg.png); 
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 40px;
}
.categry3{
	background: url(../images/start3_bg.png); 
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 40px;
}

.business_section {
  background-image: url("../images/business_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

.business_section h4 {
  font-size: 24px;
  margin: 10px 0;
  font-family: 'nexa_slab_regular_freeregular';

}
.business_section ul {
  padding: 40px 0;
}
.business_section li {
  display: inline-block;
  margin: 0 7px;
}
.business_section a {
  background-color: #2d3339;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-family: "nexa_slab_bold_freeregular";
  font-size: 24px;
  margin-top: 10px;
  padding: 10px 29px;
  transition: .5s all ease;
}
.business_section a:hover {
  background-color: #e88504;
}

.apply-right, .apply-left {
    margin-bottom: 30px;
    padding: 0;
}

.title-online {
  font-family: 'nexa_slab_bold_freeregular';
  font-size: 18px;
  text-align: right;
}
.payment_detail_rs{
	text-align: center;
}
.apply-left p {
  color: #7b7b7b;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}
.apply-right .title-online {
  text-align: left;
}
.payment-inner {
  display: inline-block;
  padding: 60px 0;
  width: 100%;
}
.payment_detail_rs p {
  font-size: 14px;
  margin: 20px 0 50px;
}
.payment-inner {
  display: block;
  margin: 0 auto;
  max-width: 870px;
  padding: 60px 0;
  width: 100%;
}
.payment{
	background-image: url(../images/payment-img1.jpg), url(../images/payment-img2.jpg);
	background-position: left center, right center;
	background-repeat: no-repeat, no-repeat;
	background-size: 17%, 17%;
}
.number {
  background: #2d3339 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 44px;
  height: 80px;
  margin-top: 0;
  padding: 7px 0;
  text-align: center;
  width: 80px;
}
.pay_wallet {
  background-image: url("../images/wallet-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  clear: both;
}
.pay_wallet h1 {
  color: #fff;
  float: left;
  font-family: "nexa_slab_regular_freeregular";
  font-size: 48px;
}

.pay_wallet h1 span{
	text-transform: uppercase;
	color: #e88504;
	font-family: 'nexa_slab_regular_freeregular';
}

.pay_wallet a {
  background-color: #e18206;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin-top: 6px;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: .5s all ease;
}

.pay_wallet a:hover {
  background-color: #2d3339; 
}  
.footer {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 45px 0;
}
.footer h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.footer .footer_link li a {
  color: #000;
  display: inline-block;
  font-size: 16px;
  margin: 6px 0;
  transition: .5s all ease;
}
.footer .footer_link li a:hover {
  color: #e88504;
}
.socials-rs li {
    display: inline-block;
}
.footer p {
  color: #000;
  font-size: 15px;
  line-height: 24px;
  margin: 13px 0 0;
}
.socials-rs li a {
  padding: 4px;
}
.socials-rs .fa {
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.socials-rs .fa.fa-facebook {
  background: #3b5998 none repeat scroll 0 0;
  color: #fff;
}	
.fa.fa-facebook:hover {
    background: #5b77b2 none repeat scroll 0 0;
    transition: all 0.3s ease-in-out 0s;
}
.socials-rs .fa.fa-twitter {
    background: #55acee none repeat scroll 0 0;
    color: #fff;
}
.fa.fa-twitter:hover {
  background: #2882c7 none repeat scroll 0 0;
  transition: all 0.3s ease-in-out 0s;
}
.socials-rs .fa.fa-linkedin {
    background: #007ab9 none repeat scroll 0 0;
    color: #fff;
}
.fa.fa-linkedin:hover {
  background: #0092d2 none repeat scroll 0 0;
  transition: all 0.3s ease-in-out 0s;
}
.socials-rs .fa.fa-pinterest {
    background: #cb1f26 none repeat scroll 0 0;
    color: #fff;
}
.fa.fa-pinterest:hover {
    background: #ed0c16 none repeat scroll 0 0;
    transition: all 0.3s ease-in-out 0s;
}

.reserverd{
	background-color: #272727;
	color: #fff;
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: top;
}
.reserverd h3{
	font-size: 27px;
	font-weight: 600;
}


/************************************************************************ 31.1.2017 **************************************/


/***************************** contact us start *************************/
.contact {
    padding: 30px 0 0;
}
.contact .head-main{
    padding-bottom: 30px;
    text-align: center;
}
h2.contact_head {
  color: #000;
  font-family: "nexa_slab_regular_freeregular";
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
h2.contact_head span {
  color: #e88504;
  font-family: "nexa_slab_regular_freeregular";
}
.contact_left p {
  color: #a0a9b6;
  font-size: 14px;
  padding: 0 0 40px;
}
.contact_left {
  border-right: 2px solid #d6d9df;
  padding-bottom: 40px;
}
.contact_info h4 {
  color: #000;
  font-family: "nexa_slab_regular_freeregular";
  font-size: 14px;
  font-weight: 600;
  margin: 60px 0 20px;
  text-transform: uppercase;
}

.contact_info li {
  color: #a0a9b6;
  font-size: 13px;
  margin: 4px 0;
}
.contact_info.social_contact li {
  display: inline-block;
}
.contact_form {
    padding-left: 40px;
}
.contact_form form input[type="text"], .contact_form form input[type="email"], .contact_form form textarea,
.sign_inner form input[type="text"], .sign_inner form input[type="email"], .sign_inner form input[type="password"], .sign_inner form input[type="phone_number"],
.tab_form form input[type="text"], .tab_form form input[type="email"] {
background: #fff !important;
  border: 2px solid #dfecf0;
  height: 45px;
  margin-bottom: 20px;
  padding: 8px 12px;
  width: 100%;
  box-shadow: -2px 3px 3px -1px rgba(0, 0, 0, 0.15); 
}
.contact_form form textarea {
  height: 100px;
  resize: none;
}
.contact_form form input[type="submit"], .sign_inner form input[type="submit"], .sign_inner form button, .tab_form form input[type="submit"] {
  background: #e88504 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  float: right;
  font-size: 13px;
  font-weight: 800;
  padding: 12px 28px;
  width:100%;
  text-transform: uppercase;
  transition: .5s all ease
}
.contact_form form input[type="submit"]:hover, .sign_inner form input[type="submit"]:hover, .sign_inner form button:hover, .tab_form form input[type="submit"]:hover {
  background: #000 none repeat scroll 0 0;
  }
  .contact_info.social_contact li a {
  color: #a0a9b6;
  font-size: 15px;
  margin-right: 6px;
  transition: .5s all ease
}
.contact_info.social_contact li a i:hover {
  background:none;
}
.contact_info.social_contact li a:hover {
  color: #e88504;
  background:none;
}
.contact_inner {
    margin-bottom: 20px;
}
/***************************** contact us end *************************/
/***************************** sign up start *************************/
.sign_main {
  background: #e8e8e8 none repeat scroll 0 0;
  padding: 50px 0;
  text-align: center;
}
.sign_main h2.contact_head {
  margin: 24px 0;
}
.sign_main h1.head-main{
  margin-bottom: 24px;
}
.sign_inner {
  margin: 0 auto;
  max-width: 610px;
  width: 100%;
}
.sign_inner form .clear_form input[type="submit"] {
  background-color: #000;
}
.sign_inner form .clear_form input[type="submit"]:hover {
  background-color: #e88504 ;
}
.sign_inner form input[type="submit"]{
  width: 100%;
}
.header_bar {
  background: #000000 none repeat scroll 0 0;
  padding: 12px 0;
  text-align: center;
}
.checkbox_form > a {
  color: #e88504;
}
.checkbox_form span {
    color: #000;
    padding-left: 8px;
}
.checkbox_form {
    margin-bottom: 25px;
    text-align: left;
}
.tip_form {
    margin-bottom: 25px;
    text-align: right;
}
.tip_form i {
    font-size: 17px;
}
.crate_acc h4 {
    color: #000;
    font-family: "nexa_slab_regular_freeregular";
    font-size: 20px;
    margin: 50px 0 60px;
}
.crate_acc h4 a{
    color: #e88504;
    font-family: "nexa_slab_regular_freeregular";
    font-size: 20px;
    transition: .5s all ease;
}

.crate_acc h4 a:hover{
   color: #000;
}
.sign_main.sign_in_main {
    padding-top: 70px;
}
/*************************************** sign up end **********************************/

/*************************************** product start **********************************/
.product_main .head-main {
    margin-bottom: 50px;
    text-align: center;
}
.product_main {
    padding: 50px 0;
}

.product_main h2.contact_head {
  margin-bottom: 12px;
  margin-top: 40px;
}
.product_main p {
    color: #000;
    font-size: 18px;
}
.product_buy {
  border: 1px solid #dadada;
  box-shadow: 0 0 9px 0 #dadada;
  box-sizing: border-box;
  margin: 14px 0;
  padding: 70px 20px;
  text-align: center;
}
.product_img {
  background: #e88504 none repeat scroll 0 0;
  border-radius: 100%;
  display: inline-block;
  height: 200px;
  padding: 30px;
  width: 200px;
}
.product_img img {
  display: inline-block;
  height: auto;
  padding: 20px;
  width: auto;
}
.product_buy h1 {
  color: #000;
  font-family: "nexa_slab_regular_freeregular";
  font-size: 35px;
  margin: 35px 0;
}
.product_main .product_buy p {
  color: #a5a5a5;
  font-size: 23px;
}
/*************************************** product end **********************************/
/*************************************** setting start **********************************/
.tab-content {
  border: 1px solid #dadada;
  box-shadow: 0 0 9px 0 #dadada;
  box-sizing: border-box;
  padding: 25px;
}
.tab_form form label {
  color: #a0a9b6;
  font-weight: 500;
  margin-bottom: 15px;
}
.select select{
  border: 2px solid #dfecf0;
    box-shadow: -2px 3px 3px -1px rgba(0, 0, 0, 0.15);
    height: 45px;
    margin-bottom: 20px;
    padding: 0px 12px;
    width: 100%;
    outline: none !important;
  appearance:none;
  -moz-appearance:none; 
  -webkit-appearance:none;
}
.select{
  position: relative;
}
.select::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  content: "";
  height: 0;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 0;
}
.select select:focus{
  outline: inherit;
  text-decoration: none;
}
.tab_form form input[type="submit"] {
    float: none;
}
.Account_setting .nav-tabs > li > a {
  border: 1px solid #dadada;
  border-radius: 12px 12px 0 0;
  color: #000 !important;
  font-size: 17px;
  font-weight: 600;
  padding: 18px 0;
  text-transform: uppercase;
  width: 100%;
}
.Account_setting .nav-tabs > li {
  text-align: center;
  width: 25%;
}
.Account_setting .nav-tabs > li.active > a, .Account_setting .nav-tabs > li > a:hover {
  background-color: #fbb023;
  border-color: #fbb023;
  color: #fff !important;
  }

/*************************************** setting end **********************************/

/*************************************** upload start **********************************/


.sign_inner textarea {
  border: 2px solid #dfecf0;
  box-shadow: -2px 3px 3px -1px rgba(0, 0, 0, 0.15);
  height: 100px;
  margin-bottom: 20px;
  padding: 8px 12px;
  resize: none;
  width: 100%;
}
.upload_file input {
  height: 45px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.upload_file {
  background: #e88504 none repeat scroll 0 0;
  height: 45px;
  left: auto;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 0;
  width: 150px;
}
.upload_file > span {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  padding: 11px 0 0;
  text-transform: uppercase;
}
.upload_progress, .form-upload {
    text-align: left;
}
.upload_progress h4 {
    color: #32323a;
    font-size: 18px;
    margin-bottom: 20px;
}
.form-upload span {
  color: #ff0000;
  display: inline-block;
  font-size: 18px;
  padding-top: 10px;
}
.upload-submit {
    float: right;
}
/*************************************** upload end **********************************/


@media (min-width: 992px) and (max-width: 1199px){
.banner-text h1 {
  font-size: 48px;
}
.srart_detail a {
  font-size: 23px;
}
.business_section li {
  width: 13%;
}
.payment {
  background-image: inherit;
}
.footer h3 {
  font-size: 19px;
}

}

@media (min-width: 768px) and (max-width: 991px){
.banner-text h1 {
  font-size: 36px;
  margin-top: 50px;
}
.srart_detail a {
  font-size: 23px;
}
.business_section li {
  width: 13%;
}
.payment {
  background-image: inherit;
}
.footer h3 {
  font-size: 15px;
}
.signup_main li, .navigation nav.navbar-default li {
    margin: 0 9px;
}
h1.head-main {
  font-size: 36px;
}
.srart_detail a {
    font-size: 18px;
}
.socials-rs li a {
  padding: 1px;
}
.srart_detail h4 {
  font-size: 16px;
  line-height: 22px;
}
.pay_wallet h1 {
  font-size: 38px;
}
.banner {
  min-height: 560px;
}
.reserverd h3 {
  font-size: 22px;
}

.product_buy h1 {
  font-size: 22px;
  margin: 35px 0;
}
.product_main .product_buy p {
    font-size: 17px;
}
.product_img {
  height: 150px;
  width: 150px;
}
.product_img img{
  padding: 0;
}
.product_main h2.contact_head {
  font-size: 24px;
}
.Account_setting .nav-tabs > li > a {
  font-size: 14px;
}
}
@media (max-width: 767px){
	.logo {
    float: left;
}
.navigation {
  float: right;
  position: static;
}
.navigation nav.navbar.navbar-default {
  float: right;
  position: static;
}
.navigation nav.navbar.navbar-default button {
  margin: -5px 0 0 20px;
}
.navigation nav.navbar.navbar-default button span{
	background-color: #fff;
}
.navigation nav.navbar.navbar-default #navbar {
  background: #fff none repeat scroll 0 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99;
}
.navigation nav.navbar-default .nav.navbar-nav li a {
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 0;
  text-align: left;
}
.navigation nav.navbar-default li {
  margin: 10px 15px;
}
.banner-text h1 {
  margin-top: 70px;
}
.banner_img {
  margin: 0 auto 40px;
  max-width: 340px;
}
.start_section {
  margin: 30px 0;
}
.business_section li {
  margin: 8px;
  width: 21%;
}
.payment{
	background-image: none;
}
.apply-right, .apply-left {
  display: inline-block;
  padding: 0;
  width: 100%;
}
.payment-inner .col-sm-9 {
  float: right;
  text-align: left;
  width: 82%;
}
.payment-inner .col-sm-3 {
  float: left;
}
.apply-left p, .title-online {
  text-align: left;
}
.pay_wallet h1 {
  font-size: 28px;
  margin: 11px 0 0;
}
.footer_link {
    margin: 24px 0;
}
.footer h3 {
  margin-bottom: 12px;
}
.srart_detail a {
  min-height: inherit;
}
.contact_info {
  display: inline-block;
  width: 49%;
}
.contact_form {
    padding-left: 15px;
}
.clear_form {
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
}
.tip_form {
    text-align: left;
}

.product_buy h1 {
  font-size: 22px;
  margin: 35px 0;
}
.product_main .product_buy p {
    font-size: 17px;
}
.product_img {
  height: 150px;
  width: 150px;
}
.product_img img{
  padding: 0;
}
.Account_setting .nav-tabs > li > a {
  font-size: 12px;
}
.upload-submit{float: none;}
}
@media (max-width: 639px){
.logo {
  float: none;
  text-align: center;
}
.navigation {
  display: inline-block;
  float: none;
  width: 100%;
}
.signup_main {
  float: left;
}
.banner-text h1 {
  font-size: 38px;
  margin-top: 100px;
}
.banner-text p{
	max-width: 100%;
}
h1.head-main {
  font-size: 36px;
}
.business_section li {
  width: 28%;
}
.payment-inner .col-sm-9 {
  width: 77%;
}
.pay_wallet{
	text-align: center;
}
.pay_wallet h1, .pay_wallet a{
	float: none;
}
.pay_wallet a {
    margin-top: 20px;
}
.reserverd h3 {
    font-size: 20px;
}
h2.contact_head {
  font-size: 22px;
}
.Account_setting .nav-tabs > li > a {
  min-height: 73px;
}
}
@media (max-width: 479px){
.banner-text h1 {
  font-size: 26px;
  margin-top: 120px;
}
.banner-sign a {
  padding: 7px 35px;
}
.business_section li {
  width: 39%;
}
.number {
  font-size: 36px;
  height: 70px;
  width: 70px;
}
.payment-inner .col-sm-9 {
  padding-left: 0;
  width: 67%;
}
.contact_info {
  display: block;
  width: 100%;
}
.Account_setting .nav-tabs > li {
    width: 50%;
}
.Account_setting .nav-tabs > li > a {
  min-height: inherit;
}
}
















